@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'nunito';
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'oswald';
    src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'slab';
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}


@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}



/* 
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/* ::-webkit-scrollbar {
    width: 0;
    height: 0;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 1;
    list-style-type: none;
    font-size: 18px;
    max-height: 100vh;
    height: 100%;
    line-height: 2.5;
    color: #000;
}

#WeekTimeTable {
    width: 100%;
    overflow: hidden;
}

.DayTimeTable {
    height: 100vh;
    background-color: #fff;
    width: 100vw;
    padding: 10vh 5vw;
}

.DayTimeTable_lessons {
    border-top: #000 1px dashed;
    padding: 4vh 10px;
}
.DayTimeTable_lesson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DayTimeTable_title {
    font-size: 4em;
    font-family: 'oswald', sans-serif;
}

.DayTimeTable_lessonsList{
    padding: 30px 15px;
    font-size: 1.5em;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.DayTimeTable_lessonsTime{
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    .DayTimeTable {
        width: 100vw;
        padding: 5vh 5vw;
    }
    .DayTimeTable_title {
        font-size: 1.25em;
    }
    
    .DayTimeTable_lessonsList{
        font-size: 0.8em;
        
        padding: 10px 15px;
    }
    .DayTimeTable_lessonsList .DayTimeTable_lessonsTime{
        font-size: 0.8em;
    }
}
